@tailwind base;
@tailwind components;
@tailwind utilities;

/* Portfolio-specific styles */
:root {
  --portfolio-bg: oklch(0.9879 0.0029 264.54);
  --portfolio-bg-gray-10: oklch(0.9851 0 0);
  --portfolio-bg-netural-box: oklch(0.9477 0.0052 247.88);
  --portfolio-netural-bg: oklch(0.9662 0.0034 247.86);
  /*   --portfolio-bg: oklch(0.9 0.04 260); */ /* Blue */

  --text-gray-80: oklch(0.2603 0 0); /* hovered*/
  --text-gray-70: oklch(0.4853 0.0118 267.26); /* default*/
  --text-gray-60: oklch(0.5971 0.0128 252.16); /* content*/
  --text-gray-50: oklch(0.666 0.012 243.74);
  --text-gray-40: oklch(0.7444 0.0099 242.89); /* helper*/
  --text-gray-30: oklch(0.8897 0.0043 236.5);
  --text-gray-20: oklch(0.9662 0.0034 247.86); /* sidebar activated*/
  --text-gray-10: oklch(0.9851 0 0); /* sidebar deactivated*/

  --modal-bg: #e7e7e7;
}

body {
  background-color: var(--portfolio-bg);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: oklch(0.9 0.04 260 / 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(74, 74, 74, 0.2);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: oklch(0.9 0.04 260 / 0.3);
}

html {
  scroll-behavior: smooth;
}

/* Portfolio-specific utility classes */
@layer utilities {
  .text-portfolio-gray-default {
    color: var(--text-gray-70);
  }
  .text-portfolio-gray-default-content {
    color: var(--text-gray-60);
  }
  .text-portfolio-gray-hover {
    color: var(--text-gray-80);
  }
  .text-portfolio-gray-transparent {
    color: var(--text-gray-40);
  }

  .bg-portfolio-bg {
    background-color: var(--portfolio-bg);
  }

  .bg-modal {
    background-color: var(--modal-bg);
  }

  .transparent-card {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 4px;
    transition: background-color 0.2s ease;
  }

  .transparent-card-overlay {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0.5rem;
    transition: background-color 0.2s ease;
    cursor: pointer;
  }
}
